
article.tweet {

  border: solid 1px $border-color;
  border-radius: 5px;
  margin: 0.5em 2em;
  opacity: 0.6;


  header {
    background-color: $background-color;
    border-radius: 5px 5px 0px 0px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 12px;
    height: 84px;

  }

  header img {
    float: left;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin-right: 12px;
  }

  .handle {
    float: right;
    font-weight: 300;
    font-size: 0.75em;
    margin-top: 6px;
  }

  div {
    padding: 1em;
    overflow-wrap: break-word
  }

  footer {
    border-top: solid 1px $border-color;
    padding: 0.5em;
    font-size: 0.8em;
  }

  .actions {
    float: right;
    margin-top: -3px;
    font-size: 1.5em;
    opacity: 0;
  }

  .like-active {
    color: $like;
  }

  .like:hover {
    cursor: pointer;
  }

  &:hover, &:hover .actions {
  opacity: 1;
  }


}
